.form__item{
    width: 100%;
    margin: 1em 0em;
    padding: 0em 1em;
    border: 1px solid #003DFF;
    max-width: 300px;
    width: auto;
    background-color: #fff;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px 0 rgb(0 0 0 / 10%), 0 -1px 2px 0 rgb(0 0 0 / 10%);
    box-shadow: 0 1px 1px 0 rgb(0 0 0 / 10%), 0 -1px 2px 0 rgb(0 0 0 / 10%);
    color: #333;
    transition: all 0.25s cubic-bezier(0.645,0.045,0.355,1);
}

.form__item:hover{
    transform: translateY(-10px);
    box-shadow: 1.25px 1.25px 10px rgba(0,0,0,0.5);
}

.form__item h4{
    width: 100%;
    text-align: left;
    color: #333;
    text-align:center;
}

@media (min-width: 1024px){
    .form__item{
        margin: 0px auto;
        width: 100%;
    }
}